[class*="a-button"] {
    background-color: #6FCF97;
    border-width: 4px;
    border-style: solid;
    border-color: #6FCF97;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Mitr', sans-serif;
    color: white;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    transition: background-color 220ms ease-in, color 220ms ease-in, border-color 220ms ease-in;

    &:hover {
        background-color: lighten(#6FCF97, 5);
        border-color: lighten(#6FCF97, 5);
    }

    &[class*="--toggled"] {
        background-color: white;
        border-color: white;
        color: #2D9CDB;
        cursor: default;
    }
    
    &[class*="--not-toggled"] {
        background-color: transparent;
        border-color: white;
        color: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
            border-color: white;
        }
    }

    &[class*="--large"] {
        height: 70px;
        font-size: 22px;
        font-weight: 300;
    }
}