@import '../../variables.scss';

[class*="m-hand-signal"] {
    height: 200px;
    width: 180px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    position: relative;
    transition: transform 330ms ease-out;

    @media (max-width: map-get($media-query, 'medium')) {
        width: 100px;
        height: 120px;
    }

    &[class*="--not-selected"] {
        opacity: 0.3;
    }

    &[class*="--selected"] {
        
    }

    &[class*="--selected-by-opponent"] {
        transform: translateY(30px);
    }

    &[class*="--selected-by-player"] {
        transform: translateY(-30px);
    }
    
    &[class*="__face"], &[class*="__back"] {
        align-items: center;
        backface-visibility: hidden;
        transition: transform 440ms ease-in;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    &[class*="__face"] {
        background-color: white;
        transform: rotateY(0deg);
    }

    &[class*="__back"] {
        background-color: #2D9CDB;
        transform: rotateY(180deg);
        justify-content: center;
    }

    &[class*="--hidden"] {
        [class*="__face"] {
            transform: rotateY(180deg);
        }

        [class*="__back"] {
            transform: rotateY(0deg); 
        }
    }

    &[class*="--won"] {
        [class*="__face"] {
            box-shadow:2px 2px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #6FCF97;
        }
    }

    &[class*="--lost"] {
        [class*="__face"] {
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #FA7979;
        }
    }

    &[class*="__icon"] {
        width: 80px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        top: 10px;
        box-shadow: none;

        &[class*="--small"] {
            top: 0px;
            width: 30px;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    &[class*="__name"] {
        background-color: transparent;
        display: inline;
        height: auto;
        font-family: Mitr;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 2.52px;
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
    }
}