@import '../../variables.scss';
@import '../../mixins.scss';

[class*="m-hand-signal"] {
    height: 200px;
    width: 180px;
    border-radius: 20px;
    position: relative;
    transition: transform 330ms ease-out;
    cursor: pointer;

    @media (max-width: map-get($media-query, 'medium')) {
        width: 100px;
        height: 120px;
    }

    @include nope('flexbox') {
        @media (max-width: 1000px) {
            height: 175px;
            width: 125px;
        }

        @media (max-width: '900px') {
            height: 150px;
            width: 110px;
        }
    }

    &[class*="--not-selected"] {
        opacity: 0.3;
    }

    &[class*="--selected-by-opponent"] {
       // @include nope('csstransforms3d') {
            transform: translateY(30px);
       // }
    }

    &[class*="--selected-by-player"] {
       // @include nope('csstransforms3d') {
            transform: translateY(-30px);
       // }
    }
    
    &[class*="__face"], &[class*="__back"] {
        backface-visibility: hidden;
        transition: transform 440ms ease-in;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

        @include yep('flexbox') {
            align-items: center;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }

    &[class*="__face"] {
        background-color: white;

        @include yep('csstransforms3d') {
            transform: rotateY(0deg);
        }
        @include nope('csstransforms3d') {
            display: block;
        }
    }

    &[class*="__back"] {
        background-color: #2D9CDB;
        justify-content: center;

        @include yep('csstransforms3d') {
            transform: rotateY(180deg);
        }
        @include nope('csstransforms3d') {
            display: none;
        }
        @include nope('flexbox') {
            padding-top: 20%;
        }
    }

    &[class*="--hidden"] {

        [class*="__face"] {
            @include yep('csstransforms3d') {
                transform: rotateY(180deg);
            }
            @include nope('csstransforms3d') {
                display: none;
            }
        }

        [class*="__back"] {
            @include yep('csstransforms3d') {
                transform: rotateY(0deg); 
            }
            @include nope('csstransforms3d') {
                display: block;
            }
        }
    }

    &[class*="--selected-by-"] {
        [class*="__face"] {
            box-shadow:2px 2px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #F9B54C;
        }
    }

    &[class*="--has-won"] {
        [class*="__face"] {
            box-shadow:2px 2px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #6FCF97;
        }
    }

    &[class*="--has-lost"] {
        [class*="__face"] {
            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 4px #FA7979;
        }
    }

    &[class*="__icon"] {
        width: 80px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        top: 10px;
        box-shadow: none;

        @include nope('flexbox') {
            display: block;
            margin: 0 auto;
            top: 20%;
            width: 50%;
        }

        @media (max-width: map-get($media-query, 'medium')) {
            width: 50px;
        }

        &[class*="--small"] {
            top: 0px;
            width: 30px;
            margin-top: 8px;
            margin-bottom: 8px;

            @media (max-width: map-get($media-query, 'medium')) {
                width: 20px;
                margin-top: 4px;
                margin-bottom: 4px;
            }
        }
    }

    &[class*="__name"] {
        background-color: transparent;
        display: inline;
        font-family: Mitr;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 2.52px;
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        height: auto;

        @include nope('flexbox') {
            display: block;
            margin: 0 auto;
            top: 35%;
        }

        @media (max-width: map-get($media-query, 'medium')) {
            font-size: 10px;
        }
    }
}