.logo {
    font-family: Modak;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 70px;
    text-align: center;
    letter-spacing: 6.72px;
    color: #FFFFFF;
}