@import "../../mixins";

.o-hand-signal-selection {
    @include yep('flexbox') {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    @include nope('flexbox') {
        margin-top: 25px;
        display: block;
        margin-left: -30px;
        margin-right: -30px;
        text-align: center;
    }

    &--exit-top {
        @include yep('csstransformslevel2') {
            transform: translateY(-300px);
        }
    }

    &--exit-bottom {
        @include yep('csstransformslevel2') {
            transform: translateY(300px);
        }
    }

    &__signal {
        @include nope('flexbox') {
            display: inline-block;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}