.heading {
    font-family: Mitr;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2.52px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}